DerivedData
project.xcworkspace
*.iml
*.xcworkspace/
*~
.DS_Store
.github/
.idea/
.metadata/
.settings/
bin/
build/
coverage.em
coverage/
instrumentation/
junit-reports/
local.properties
xcuserdata
/Salesforce Org Setup/.sfdx
.vscode
.classpath
.DS_Store
.idea
.project
.salesforce
.settings
.sfdx/
.tern-project
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
jsconfig.json
node_modules/
selenium-client-jars/
test/artifacts/
node_modules
