DerivedData
project.xcworkspace
*.iml
*.xcworkspace/
*~
.DS_Store
.idea/
.metadata/
.settings/
build/
coverage.em
coverage/
instrumentation/
junit-reports/
local.properties
xcuserdata
/redwoods-insurance-salesforce/.sfdx
/redwoods-insurance-salesforce/.localdevserver/
.vscode
.classpath
.settings
.sfdx/
.tern-project
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
jsconfig.json
node_modules/
selenium-client-jars/
test/artifacts/
node_modules